<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Have a + impact</h2>
                    <h3 class="section-subheading text-muted">while growing your weath!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Find us</h4>
                    <h3 class="section-subheading text-muted"> Our tiker is: PACT</h3>
                    <p class="text-muted">You can search us on your wallet delegation page or find us <a href="https://pooltool.io/">here</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pizza-slice fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Margin</h4>
                    <h3 class="section-subheading text-muted">Our margin is 2%</h3>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contribution</h4>
                    <h3 class="section-subheading text-muted">50% to charities</h3>
                </div>
            </div>
        </div>
    </section>
